a {
  padding-right: 10px;
  color: green;
}

#inlineLink {
  color: blue;
}
.deltaVHome {
  padding-right: 30px;
  color: orange;
}

.deltaVHome {
  color: magenta;
}

sup {
  font-size: 6pt;
  font-style: normal;
}
section strong {
  color: red;
}

.box-model {
  padding: 30px 15px;
  margin: 50px 100px;
  border-color: purple;
  border-width: 5px;
  border-style: solid;
  border-radius: 15px;
}

.circle {
  background: green;
  height: 300px;
  border-radius: 50%;
  color: white;
  text-align: center;
  line-height:  300px;
}